@font-face {
    font-family: 'classic';
    src: url('../Classic Notes.otf');
}

body {
    margin: 15px;
    background-color: #070831;
    color: #fff4d6;
    font-family: classic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.title {
    font-size: 40px;
}

.container {
    gap: 20px;
    padding: 20px;
    width: 70%;
    text-align: center;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.search {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    width: 100%; 
}

li {
    list-style: none;
    display: flex;
    border: 1px solid white;
    align-items: center;
    padding: 5px;
    justify-content: center;
    width: 100%;
}

ul {
    gap: 5px;
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
}

